<% if logged_in? %>
  <%= render 'products/products', products: @products %>
<% else %>
<body>
 <div class="bg-img">
   <img src="<%= asset_path "keio.png" %>"></img>
    <div style="background-image:url(<%= asset_path "keio.png" %>)"></div>
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row justify-content-center text-center">
      <div class="top-font text-center">
        <h1>Tekika</h1>
        <h2>〜 For Keio Students〜</h2>
        <p class="mt-5"><%= link_to '新規登録', signup_path, class: 'btn btn-outline-light' %></p>
      </div>
    </div>
  </div>
</div>
 <section class="fdb-block">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="elements-font text-center mt-5">特徴</h1>
      </div>
    </div>
    <div class="row text-left justify-content-center pt-3">
      <div class="col-12 col-md-6 col-lg-5 m-auto">
        <h3 class="elements"><i class="fas fa-people-carry"></i><strong>　手渡し</strong></h3>
        <p class="lead">送料・手数料は０円。空きコマに教科書と現金を指定された場所（キャンパス等）で交換するだけ。発送・入金などの面倒な手間は一切ありません。</p>
      </div>
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">
        <h3 class="elements"><i class="fas fa-book-reader"></i><strong>　書き込み</strong></h3>
        <p class="lead">中古教科書には中間・期末試験を乗り越えてきた痕跡が残されてます。試験勉強の強力な手助けになるかも。効率良く単位をgetしよう！</p>
      </div>
    </div>
    <div class="row text-left justify-content-center pt-lg-4">
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        <h3 class="elements"><i class="fas fa-clipboard"></i><strong>　掲示板</strong></h3>
        <p class="lead">楽単・講義・試験情報を自由に得ることができます。また、就活・サークル・ゼミなどに関する情報も自由に書き込んで下さい！</p>
      </div>
      <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        <h3 class="elements"><i class="fas fa-copy"></i><strong>　過去問 ※期間限定</strong></h3>
        <p class="lead">今までの過去問が容易に手に入ります。友達が少なく過去問が手に入らないという心配は少なくなります。</p>
      </div>
    </div>
  </div>
</section>
<footer class="fdb-block footer-small">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <hr>
        <a class="pr-3 pb-5 pt-5">© 2019 Tekika. All Rights Reserved</a>
        <a rel="nofollow" target="_blank" id="footer-link-twitter" href="https://twitter.com/Tekika_keio">
          <i class="fab fa-twitter white-text"> </i>
        </a>
      </div>
    </div>
  </div>
</footer>
</body>



<% end %>
