<ul class="post_header">
  <li class="posting">
    <p>Past Exams </p>
  </li>
  <li class="posts-post">
    <%= link_to '投稿', post_path, class: 'new_posting btn btn-lg btn-primary'  %>
  </li>
</ul>
<li class="post-searching col-md-5 pl-4">
  <div class="count_posts">
    <b>Total : <%= @counts %>問</b>
  </div>
 <%= render 'posts/search_form' %>
</li>
<%= render 'posts/posts', posts: @posts %>
