/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.search{
   padding-top: 5px;
}

li{
  list-style: none;
}

.bg-img{
    background:linear-gradient(to top, rgba(80, 100, 150, 100) 0%, rgba(151, 217, 225, 0.7) 100%),url(keio.jpg);;
    height: 450px;
    background-size:cover;
}

.top-font{
    padding-top: 120px;
    font-style: italic;
    color: #DDDDDD;
}
.top-font h1 {
  font-weight: bold;
  font-size: 80px;
}

.elements-font{
  margin: 30px 150px 0 150px;
  background-color: #AA0000	;
  border-radius: 30px 30px 30px 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
}

.elements{
  background-color: #000033;
  border-radius: 15px 15px 0 0;
  color: white;
  padding: 5px 0 5px 10px;
}

.lead{
  background-color: #FFFF66;
  border-radius: 0 0 15px 15px;
  margin-top: -10px;
  padding: 5px;
  color: #222222;
  font-weight: bold;

}

.new-register{
  padding-top: 30px;
}

.like-btn {
  color: #8899a6;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.like-btn-unlike {
  color: #ff2581;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.title{
  text-align: center;
  font-size: 30px;

}


.details{
	text-align: center;
}

.product_detail {
  font-size: 20px;
  float: left;
}

.table{
  border: 1px solid #444444;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


  /* 要素を中央に寄せる方法 */
}

.likes li{
  display: inline-block;
}

/* .price_likes{
  float: left;
} */

.price{
 font-size: 35px;
 padding-left: 30px;
 margin-right:  90px;
 margin-top: 30px;
 margin-bottom: 20px;
}

.heat{
  font-size: 35px
}

.not-button-heart{
  font-size: 35px;
}
/* .likes heat-count{
 font-size: 20px;
 text-align: center;
 display: inline-block;
}

.likes li{
  display:inline-block;
} */


.chat{
 text-align: center;
  font-size: 25px;
  padding-bottom: 60px;
  padding-top: 20px;
}

.product{
  position: relative;
  display: inline-block;
}
.home-price{
  position: absolute;
  left: 8px;
  bottom: 10px;
  width: 70px;
  color: #fff;
  background: 	#444444;
  font-size:20px;
  border-radius: 10px 10px 10px 10px;
}

.home-detail{
  padding-top:5px;
  padding-bottom: 10px;
}


.profileedit{
  padding-top: 30px;
  padding-bottom: 30px;
}

 #img {
  /* font-size: 15px; */
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  cursor: pointer;
  width: 180px;
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  border-radius: 15px;
}

/* #post i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#post i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  padding: 30px 0 0 30px
} */

 #img:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

/* #img_file:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
} */



.star li{
  display: inline-block;
  width:80px;
  padding-top:40px;
  /* padding-left: 20px; */

}

.star-number label{
  display: inline-block;
  width: 81px;
  padding-right: 1px;
  padding-bottom: 60px;
}

.user-star li{
  display: inline-block;
  width:80px;
  padding-top:40px;
  padding-left: 30px;
  /* padding-left: 20px; */

}
.star-number li{
  display: inline-block;
  width:81.5px;
  padding-left: 33px;
}

.stars{
  background-color: #DDDDDD	;
  /* width: 300px;
  margin-left: 100px;
  left: 40px;
  margin-bottom:50px; */
  /* width:330px; */
  display: block;
  padding-right: 40px;
  width: 400px;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;


}

.stars h1{
  background-color: #999999;
  display: inline-block;
  margin-top: 10px;
  margin-left: 50px;
  padding-left: 10px;
  padding-right: 7px;
  border-radius: 15px 15px 15px 15px;
  color:white;

}


.well{
  background-color:#DDDDDD;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  border-radius: 15px;
}

.reviews-user{
    /* padding-right: 10px;
    padding-top: 20px; */
    margin-top: 30px;
    padding-right: 10px;
    margin-left: 0;
}

.review-user-name{
  padding-top: 10px;
  text-align: center;

}

 .review-content{
  background-color: white;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 5px;
  width:200px;
 }

 .review-content-font{
   margin-top: 30px;
 }

 .review-product{
   margin-top: 30px;
 }

 .review-product-name{
   padding-top: 10px;
   text-align: center;
 }

.image{
  border-radius: 15px;
}

.user-image{
    border-radius: 120px;
}

.post-name{
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;

}

.posting p{
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.post{
  display: inline-block;
}

.posts-post{
  padding-bottom: 30px;
}

.recieve{
  display: inline-block;
  padding-left: 120px;
}

.post_search{
  display: inline-block;
}

.post-searching{
  background-color: #D7EEFF;
  padding-top: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.micropost{
  padding-left: 30px;
}

.room h1{
  background-color: #000080;
  border-radius: 50px 50px 50px 50px;
  padding: 5px 5px 5px 5px;
  width: 230px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.search_name{
  font-size: 18px;
  font-weight: bold;
}

.micropost-name{
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.twitter-searching{
  background-color: #D7EEFF;
  padding: 15px 0 15px 0;
  border-radius: 15px;
  margin: 30px 20px 60px 0;
}

.twitter-contents{
}

.twitter-post{
  margin-bottom: 30px;
}

.microposts-line{
  border: 1px solid #ccc;
}

.twitter-user{
padding: 15px 15px 2px 5px ;
}

.twitter-body {
    margin-top:10px;
    padding-right: 10px;
}

.twitter-body p{
    margin-top:10px;
}

.notification-circle{
  font-size: 20px;
  margin: 12px 10px 0 10px;
  color: #D7EEFF;
}

.users-index{
  background-color: #EEEEEE;
  border-radius: 15px;
}

.name{
  font-size: 15px;
  font-weight: bold;
}
/* productのsoldout用 */
.product_sold, .product_alive{
  position: relative;
}

.product_sold::before{
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0,0,0,0.7);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  border-radius: 15px;
}

.product_sold p{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
}
