<%= search_form_for(@q, url:usersearching_path) do |f| %>
<ul class="searched pl-3">
    <p>
      <%= f.label :name, 'ユーザー名', {class: 'search_name'} %>
      <%= f.search_field :name_cont, placeholder:" 太郎", class:'search_field'%>
      <%= f.submit "検索", class:'search_search' %>
    </p>


</ul>



<% end %>
