<div class="row">
	<% products.each do |product| %>
	<div class="col-md-3 text-center">
      <div id="item-list">
      	<div class="product">
        	<div>
            <%= render 'products/review', review: @review %>

						<%= image_tag(product.image.to_s, class:'image') %>


						<li class="home-price">
							¥<%= product.price %>
						</li>
					</div>

        	<li class="home-detail">
        		<%= link_to "詳細", "/products/#{product.id}", method: :get, class: 'btn btn-primary ' %>
        		</li>
        </div>
      </div>
  </div>
  <% end %>
</div>
